<% include ../partials/header %>
<br><br>
<div class="container">
	<div class="row">
		<form action="http://localhost:4000/item/add" method="POST" class="col s12">
			<input type="hidden" name="item_id" value="">
			<div class="form-group row">
				<label for="item_name" class="col-2 col-form-label">Item Name</label>
				<div class="col-10">
					<input type="text" name="item_name" value="" class="form-control">
				</div>
			</div>
			<div class="form-group row">
				<label for="item_desc" class="col-2 col-form-label">Item Description</label>
				<div class="col-10">
					<input type="text" name="item_desc" value="" class="form-control">
				</div>
			</div>
			<div class="form-group row">
				<label for="item_qty" class="col-2 col-form-label">Quantity</label>
				<div class="col-10">
					<input type="text" name="item_qty" value="" class="form-control">
				</div>
			</div>
			<div class="form-group row">
				<label for="item_price" class="col-2 col-form-label">Price</label>
				<div class="col-10">
					<input type="text" name="item_price" value="" class="form-control">
				</div>
			</div>
			<div class="form-group row">
				<label for="submit" class="col-2 col-form-label"></label>
				<div class="col-10">
					<input type="submit" name="submit" value="Insert Item" class="btn btn-success">
				</div>
			</div>
		</form>
	</div>
</div>
<% include ../partials/footer %>